.header{
  display:flex;
  flex-direction:row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height:80px;
  background-color:aquamarine;
}

#header-button{
background: #FFFFFF;
border: 2px solid #D93131;
border-radius: 7px;
padding:9px;
}

#header-line{
  width:70rem;
}

